/* LAYOUT *
-----------------------------------------------*/
.cf:before,
.cf:after {
    content: " ";
    border: 0;
    /* 1 */
    display: table;  /* 2 */
}
.cf:after {
    border: 0;
    clear: both;
}
.cf {
  *zoom: 1;
    border: 0;
}
* {
    /* border: 0; */
    /* box-sizing: border-box; */
}
body section {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
}

/* COLORS *
-----------------------------------------------*/
body {
    margin: 0;
    color: white;
    font-family: hatch, sans-serif;
    border-style: none;
    border: 0;
	width: 310px;
    text-align: center;
    display: inline-block;

/*	remove this background before publishing to webflow */    
	background-image: -webkit-linear-gradient(270deg,rgba(0,204,205,1.00) 0%,rgba(0,49,73,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(0,204,205,1.00) 0%,rgba(0,49,73,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(0,204,205,1.00) 0%,rgba(0,49,73,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,204,205,1.00) 0%,rgba(0,49,73,1.00) 100%);
}

.wrapper {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    /* text-align: center; */
    display: block;
	margin-left: 22px;
}
p.small {
    font-size: 10px;
}
a {
    border: 0;
    color: #00CCCD;
}
a:hover {
    border: 0;
    color: #CE0065;
}
a.sc-player,
.button {
    display: inline-block;
    background: rgba(19, 19, 19, 0.14);
    border-radius: 4px;
    padding: 4px;
    /* [disabled]text-align: center; */
    /* [disabled]text-decoration: none; */
    /* [disabled]color: #ffffff; */
    /* [disabled]font-size: 15px; */
    transition: all 0.3s ease-out;
}
a.sc-player:hover,
.button:hover {
  background: rgba(19, 19, 19, 0.24);
  color: #f8f8f8;
}
.main {
    margin-bottom: 1em;
    /* text-align: center; */
}

.transition {
  transition: all 0.3s ease-out;
}
/* FONTS *
-----------------------------------------------*/
.display {
	font-family: hatch, sans-serif;
}

.GistExtrabold { 
	font-family: GistExtrabold;
	font-weight: normal;
	font-style: normal;
}
.GistRegular { 
	font-family: GistRegular;
	font-weight: normal;
	font-style: normal;
}
.GistUprightExtrabold { 
	font-family: GistUprightExtrabold;
	font-weight: normal;
	font-style: normal;
}
.GistUprightRegular { 
	font-family: GistUprightRegular;
	font-weight: normal;
	font-style: normal;
}


/* SOUNDCLOUD PLAYER *
-----------------------------------------------*/
.sc-player {
    position: fixed;
    margin-top: -320px;
	max-width: 445px;
    z-index: 100;
    margin-left: auto;
    margin-rigt: auto;
    display: flex;
    flex-direction: column;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* text-align: center; */
}
.sc-player a {
    text-decoration: none;
    color: #fff;
}
.sc-player ol,
.sc-player li {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}
/* Artworks */
.sc-player .sc-artwork-list {
  display: none;
  float: left;
  width: 40%;
  margin-bottom: 3%;
  background-color: transparent;
  list-style-type: none;
  position: relative;
  height: 100%;
}
.sc-player .sc-artwork-list li {
    list-style-type: none;
    display: none;
}
.sc-player .sc-artwork-list li.active {
  list-style-type: none;
  display: none;
}
.sc-player .sc-artwork-list li img,
.sc-player .sc-artwork-list li div {
  list-style-type: none;
  width: 100%;
  height: auto;
  display: none;
}
/* controls */
.sc-player .sc-controls {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 300px;
}

.sc-player .sc-controls .sc-play {
  background-image:url(../images/play_button.svg);
  transition: all 0.3s ease-out;
}
.sc-player .sc-controls .sc-pause {
  background-image:url(../images/pause_button.svg);
  transition: all 0.3s ease-out;
}
.sc-player.playing .sc-play {
  display: none;
}
.sc-player.playing .sc-pause {
  display: block !important;
}
.sc-player.playing .sc-played {
  min-width: 1px;
}
.sc-player .sc-controls a {
    text-indent: -9999px;
    content: '';
    display: block;
    background: rgba(19, 19, 19, 0.12);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: auto;
    position: relative;
    transition: all 0.3s ease-out;
}
/*.sc-player .sc-controls a:hover {
    background: #9c3538;
    background: rgba(19, 19, 19, 0.22);
}*/
/*.sc-player .sc-controls a:after {
    display: inline;
    position: relative;
    z-index: 1;
    background: url(../images/play_button.png);
    background-position: center;
    border-radius: 50%;
    clear: both;
}*/
.sc-player .sc-controls a.sc-pause:after {
  background-position: center;
}
.sc-scrubber .sc-time-indicators {
    background: #9c3538;
    background: rgba(19, 19, 19, 0.4);
    color: #fff;
    border-radius: 4px;
    padding: 7px;
    text-align: right;
    font-size: x-small;
}

.sc-time-indicators {
	margin-top:0px;
	color: #00cccc;
}
.sc-player .sc-controls a.sc-pause {
  display: none;
}
.sc-player.playing .sc-controls a.sc-play {
  display: none;	
}
.sc-player.playing .sc-controls a.sc-pause {
  display: block;
}


/* scrubber */
.sc-scrubber {
    position: relative;
    width: 100%;
}

.sc-scrubber .sc-time-span {
    position: relative;
    max-height: 30px;
    margin-top:-495px; 
	margin-left: 115px;
	max-width: 200px;
}

.sc-scrubber .sc-buffer,
.sc-scrubber .sc-played {
    position: relative;
}

.sc-scrubber .sc-time-indicators {
  position: absolute;
  right: 0;
  margin-top: 60px;
  margin-right: -13px;
}
.sc-scrubber .sc-volume-slider {
  background-color: #bf3d3f;
  background-color: rgba(19, 19, 19, 0.12);
  border-radius: 2px;
}
.sc-scrubber .sc-volume-slider .sc-volume-status {
  background-color: #9c3538;
  background-color: rgba(19, 19, 19, 0.22);
  border-right: 1px solid #9c3538;
  border-right: 1px solid rgba(19, 19, 19, 0.22);
}

.sc-scrubber .sc-waveform-container {
    position: absolute;   
	-webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.sc-waveform-container img {
	height: 30px;
	width: 200px;
}

.sc-scrubber .sc-time-span img {
    height: 30px;
    width: 200px;
    opacity: 1;
  }

.fadeIn {
-webkit-animation: fadeIn 2s;
animation: fadeIn 2s;
-moz-animation: fadeIn 2s;
-o-animation: fadeIn 2s;
}

@-webkit-keyframes fadeIn {
0% {opacity: 0} 
100% {opacity:1}
}

@-moz-keyframes fadeIn {
0% {opacity: 0} 
100% {opacity:1} 
}

@keyframes fadeIn {
0% {opacity: 0} 
100% {opacity:1}
 }

@-o-keyframes fadeIn {
0% {opacity: 0} 
100% {opacity:1}
}

.sc-scrubber .sc-buffer {
	-webkit-animation: fadeIn 5s;
	animation: fadeIn 5s;
	-moz-animation: fadeIn 5s;
	-o-animation: fadeIn 5s;
	background-color: rgba(0,49,73,0.5);
    height: 30px;
	position: absolute;
    z-index: -2;
	width: 200px;
	-webkit-transition: width 0.5s ease-out;
    -o-transition: width 0.5s ease-out;
    transition: width 0.5s ease-out;
 }


.sc-scrubber .sc-played {
 	margin-top: -30px;
    height: 30px;
    z-index: -1;
    transition: width 1s;
    background-image: -webkit-linear-gradient(270deg,rgba(0,49,73,1.00) 3.06%,rgba(206,0,101,1.00) 30.82%,rgba(255,101,98,1.00) 47.86%,rgba(206,0,101,1.00) 67.85%,rgba(0,49,73,1.00) 98.71%);
    background-image: -moz-linear-gradient(270deg,rgba(0,49,73,1.00) 3.06%,rgba(206,0,101,1.00) 30.82%,rgba(255,101,98,1.00) 47.86%,rgba(206,0,101,1.00) 67.85%,rgba(0,49,73,1.00) 98.71%);
    background-image: -o-linear-gradient(270deg,rgba(0,49,73,1.00) 3.06%,rgba(206,0,101,1.00) 30.82%,rgba(255,101,98,1.00) 47.86%,rgba(206,0,101,1.00) 67.85%,rgba(0,49,73,1.00) 98.71%);
    background-image: linear-gradient(180deg,rgba(0,49,73,1.00) 3.06%,rgba(206,0,101,1.00) 30.82%,rgba(255,101,98,1.00) 47.86%,rgba(206,0,101,1.00) 67.85%,rgba(0,49,73,1.00) 98.71%);
	-webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


/* volume control */
.sc-volume-slider {
  margin-top: 70px;
  margin-left: 10px;
  position: absolute;
  width: 100px;
  height: 20px;
  background-color: white;
  display:none;
}
.sc-volume-slider .sc-volume-status {
  position: absolute;
  width: 0%;
  height: 20px;
  top: 0;
  left: 0;
  display: none;
}

/* tracks */
/* Track listings*/
.sc-player ol.sc-trackslist {
  position: relative;
  width: 100%;
  overflow: visible;
}
.sc-player ol.sc-trackslist li {
  width: 98%;
  cursor: pointer;
  margin-bottom: 0.5em;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 10px;
  background: #bf3d3f;
  background: rgba(19, 19, 19, 0.2);
  color: white;
  border-radius: 4px;
  transition: background 0.3s ease-in;
  text-align: left;
}
.sc-player ol.sc-trackslist li:last-child {
  margin-bottom: 0;
}
.sc-player ol.sc-trackslist li a {
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
}
/*@media screen and (min-width: 38em) {
  .sc-player ol.sc-trackslist li a {
    font-size: 15px;
  }
}*/
.sc-player ol.sc-trackslist li:hover {
  background: #9c3538;
  background: rgba(19, 19, 19, 0.22);
}
.sc-player ol.sc-trackslist li.active {
  background: #9c3538;
  background: rgba(19, 19, 19, 0.32);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius:4px;
}
.sc-player ol.sc-trackslist li.active a {
  color: #fff;
}
.sc-track-duration {
  float: right;
  margin-right: 10px;
}
/* Track info*/
.sc-player .sc-info {
    position: relative;
   /* margin-bottom: 2em;*/
    /* [disabled]padding: 1% 3%; */
}
.sc-player .sc-info h3 {
  font-family: GistUprightRegular; 
  font-weight: normal; 
  font-style: normal; 
  font-size: 60px;
  margin-bottom: 10px;
  -webkit-margin-before: 10px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
.sc-player .sc-info h4 {
  display: none;
}
.sc-player .sc-info .sc-info a {
  color: #fff;
}
p {
    max-width: 38em;
    max-width: 38rem;
    margin: 0 auto 1em;
    line-height: 1.5;
    border: 0;
    text-align: left;
}
.sc-player .sc-info-toggle,
.sc-player .sc-info-close {
  display: none;
}
/* utilities */
.sc-player-engine-container {
  width: 1px;
  height: 1px;
  position: fixed;
  top: 2px;
  left: 2px;
}
.sc-player .sc-info-toggle {
  background: #22B573;
  color: #fff;
  border-radius: 4px;
  padding: 4px;
}
.sc-player .sc-info-toggle:hover {
  background: #333;
  color: #fff;
}
.sc-player .sc-info-close {
  background: #22B573;
  border-radius: 4px;
  padding: 2px 4px;
  font-weight: bold;
}

/*rotate reels */
.reels {
    margin-top: 60px;
	position: relative;
    z-index: 0;
}

.face {
    margin-top: -230px;
    position: relative;
    border: 0;
    z-index: 1;
    clear: both;
    text-align: center;
    background-repeat: no-repeat;
    width: 320px;
    display: block;
}

.pausedReels {
    animation-name: rotateReels;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-fill-mode: both;
	animation-play-state: paused;
	animation-timing-function: linear;
	-webkit-animation-name: rotateReels;
	-webkit-animation-duration: 4s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-fill-mode: both;
	-webkit-animation-play-state: paused;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: rotateReels;
	-moz-animation-duration: 4s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-fill-mode: both;
	-moz-animation-play-state: paused;
	-moz-animation-timing-function: linear;
	width: 160px;
	height: 160px;
}


.playingReels {
	animation-name: rotateReels;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-fill-mode: both;
	animation-play-state: running;
	animation-timing-function: linear;
	-webkit-animation-name: rotateReels;
	-webkit-animation-duration: 4s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-fill-mode: both;
	-webkit-animation-play-state: running;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: rotateReels;
	-moz-animation-duration: 4s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-fill-mode: both;
	-moz-animation-play-state: running;
	-moz-animation-timing-function: linear;
	width: 160px;
	height: 160px;
}

.cassette1 {
    background-image: url(../images/reading.png);
    width: 475px;
    height: 309px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
	background-repeat: no-repeat;
    background-size: contain;
}

.cassette2 {
	background-image: url(../images/va_va_voom.png);
	width: 475px;
	height: 309px;
	border-style: none;
	border: 0;
	-webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-repeat: no-repeat;
    background-size: contain;
}

@-webkit-keyframes rotateReels {
		from {
				-webkit-transform: rotate(0deg);
			     transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(360deg);
			     transform: rotate(360deg);
		}
}

.cassette1:active {
    background-image: .cassette2;
}

.cassette2:active {
    background-image: .cassette1;
}

.test {
    text-align: left;
    margin-left: 0px;
    border: 0;
    display: none;
}
