/* LAYOUT *
-----------------------------------------------*/
.cf:before,
.cf:after {
    content: " ";
    border: 0;
    /* 1 */
    display: table;  /* 2 */
}
.cf:after {
    border: 0;
    clear: both;
}
.cf {
    border: 0;
}

body section {
    display: block;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
}

/* COLORS *
-----------------------------------------------*/
body {
    margin: 0;
    color: white;
    font-family: hatch, sans-serif;
    border-style: none;
	width: 310px;
    text-align: center;
    display: inline-block;
}

.wrapper {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    /* text-align: center; */
    display: block;
	margin-left: 22px;
}
.small {
    font-size: 10px;
}
a {
    border: 0;
    color: #00CCCD;
}
a:hover {
    border: 0;
    color: #CE0065;
}
sc-player,
.button {
    display: inline-block;
    background: rgba(19, 19, 19, 0.14);
    border-radius: 4px;
    padding: 4px;
    transition: all 0.3s ease-out;
}
sc-player:hover,
.button:hover {
  background: rgba(19, 19, 19, 0.24);
  color: #f8f8f8;
}
.main {
    margin-bottom: 1em;
	
}

.transition {
  transition: all 0.3s ease-out;
}
/* FONTS *
-----------------------------------------------*/
.display {
	font-family: hatch, sans-serif;
}

.GistExtrabold { 
	font-family: GistExtrabold;
	font-weight: normal;
	font-style: normal;
}
.GistRegular { 
	font-family: GistRegular;
	font-weight: normal;
	font-style: normal;
}
.GistUprightExtrabold { 
	font-family: GistUprightExtrabold;
	font-weight: normal;
	font-style: normal;
}
.GistUprightRegular { 
	font-family: GistUprightRegular;
	font-weight: normal;
	font-style: normal;
}


/* SOUNDCLOUD PLAYER *
-----------------------------------------------*/
.sc-player {
    position: fixed;
    margin-top: -320px;
	max-width: 445px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.sc-player a {
    text-decoration: none;
    color: #fff;
}
.sc-player ol,
.sc-player li {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}
/* Artworks */
.sc-player .sc-artwork-list {
  display: none;
  float: left;
  width: 40%;
  margin-bottom: 3%;
  background-color: transparent;
  list-style-type: none;
  position: relative;
  height: 100%;
}
.sc-player .sc-artwork-list li {
    list-style-type: none;
    display: none;
	height: auto;
	width: 100%;
}

/* controls */
.sc-player .sc-controls {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 300px;
}

.sc-player .sc-controls .sc-play {
  background-image:url(../images/play_button.svg);
  transition: all 0.3s ease-out;
}
.sc-player .sc-controls .sc-pause {
  background-image:url(../images/pause_button.svg);
  transition: all 0.3s ease-out;
}
.sc-player.playing .sc-play {
  display: none;
}
.sc-player.playing .sc-pause {
  display: block;
}
.sc-player.playing .sc-played {
  min-width: 1px;
}
.sc-player .sc-controls a {
    text-indent: -9999px;
    content: '';
    display: block;
    background: rgba(19, 19, 19, 0.12);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: auto;
    position: relative;
    transition: all 0.3s ease-out;
}

.sc-player .sc-controls a.sc-pause:after {
  background-position: center;
}
.sc-scrubber .sc-time-indicators {
    background: #9c3538;
    background: rgba(19, 19, 19, 0.4);
    color: #fff;
    border-radius: 4px;
    padding: 7px;
    font-size: x-small;
    position: fixed;
    float: none;
    top: 295px;
    left: 394px;
}


.sc-time-indicators {
	margin-top:0px;
	color: #00cccc;
}
.sc-player .sc-controls .sc-pause {
  display: none;
}
.sc-player.playing .sc-controls .sc-play {
  display: none;	
}
.sc-player.playing .sc-controls .sc-pause {
  display: block;
}


/* scrubber */
.sc-scrubber {
    position: fixed;
    width: 100%;
}

.sc-scrubber .sc-time-span {
    position: relative;
    margin-left: 115px;
    max-width: 200px;
    margin-top: 230px;
    height: 20px;
}

.sc-scrubber .sc-buffer,
.sc-scrubber .sc-played {
    position: relative;
    height: 20px;
}

.sc-scrubber .sc-volume-slider .sc-volume-status {
  border-right: 1px solid rgba(19, 19, 19, 0.22);
  background-color: rgba(19, 19, 19, 0.12);
  border-radius: 2px;
}

.sc-scrubber .sc-waveform-container {
    position: absolute;
    transition: all 0.5s ease;
    height: 20px;
}

.sc-waveform-container img {
	height: 30px;
	width: 200px;
}

.sc-scrubber .sc-time-span img {
    height: 20px;
    width: 200px;
    opacity: 1;
  }

.fadeIn {
animation: fadeIn 2s;
}

@-webkit-keyframes fadeIn {
0% {opacity: 0} 
100% {opacity:1}
}

@-moz-keyframes fadeIn {
0% {opacity: 0} 
100% {opacity:1} 
}

@keyframes fadeIn {
0% {opacity: 0} 
100% {opacity:1}
 }

@-o-keyframes fadeIn {
0% {opacity: 0} 
100% {opacity:1}
}

.sc-scrubber .sc-buffer {
    animation: fadeIn 5s;
    background-color: rgba(0,49,73,0.5);
    height: 20px;
    position: absolute;
    z-index: -2;
    width: 200px;
    transition: width 0.5s ease-out;
 }


.sc-scrubber .sc-played {
    margin-top: -30px;
    height: 20px;
    z-index: -1;
    background-image: -webkit-linear-gradient(270deg,rgba(0,49,73,1.00) 0%,rgba(206,0,101,1.00) 23.70%,rgba(255,101,98,1.00) 48.04%,rgba(206,0,101,1.00) 73.33%,rgba(0,49,73,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(0,49,73,1.00) 0%,rgba(206,0,101,1.00) 23.70%,rgba(255,101,98,1.00) 48.04%,rgba(206,0,101,1.00) 73.33%,rgba(0,49,73,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(0,49,73,1.00) 0%,rgba(206,0,101,1.00) 23.70%,rgba(255,101,98,1.00) 48.04%,rgba(206,0,101,1.00) 73.33%,rgba(0,49,73,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,49,73,1.00) 0%,rgba(206,0,101,1.00) 23.70%,rgba(255,101,98,1.00) 48.04%,rgba(206,0,101,1.00) 73.33%,rgba(0,49,73,1.00) 100%);
    transition: all 0.3s ease;
}


/* volume control */
.sc-volume-slider {
  margin-top: 70px;
  margin-left: 10px;
  position: absolute;
  width: 100px;
  height: 20px;
  background-color: white;
  display:none;
}
.sc-volume-slider .sc-volume-status {
  position: absolute;
  width: 0%;
  height: 20px;
  top: 0;
  left: 0;
  display: none;
}

/* tracks */
/* Track listings*/

.sc-player ol.sc-trackslist li {
  width: 98%;
  position: relative;
  overflow: visible;
  cursor: pointer;
  margin-bottom: 0.5em;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 15px;
  padding-right: 15px;
  background: rgba(19, 19, 19, 0.2);
  color: white;
  border-radius: 4px;
  transition: background 0.3s ease-in;
  text-align: left;
  font-size: 15px;
}
.sc-player ol.sc-trackslist li:last-child {
  margin-bottom: 0;
}

*@media screen and (min-width: 38em) {
  .sc-player ol.sc-trackslist li a {
    font-size: 15px;
  }
}*/
.sc-player ol.sc-trackslist li:hover {
  background: rgba(19, 19, 19, 0.22);
}
.sc-player ol.sc-trackslist li.active {
  background: rgba(19, 19, 19, 0.32);
  border-radius:4px;
}
.sc-player ol.sc-trackslist li.active a {
  color: #fff;
}
.sc-track-duration {
  float: right;
  margin-right: 10px;
}
/* Track info*/
.sc-player .sc-info {
    position: relative;
   /* margin-bottom: 2em;*/
    /* [disabled]padding: 1% 3%; */
}

.sc-info {
	margin-left: 35px;
}
.sc-player .sc-info h3 {
  font-family: GistUprightRegular; 
  font-weight: normal; 
  font-style: normal; 
  font-size: 36px;
  margin-bottom: 10px;
  -webkit-margin-before: 10px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
.sc-player .sc-info h4 {
  display: none;
}
.sc-player .sc-info .sc-info a {
  color: #fff;
}

p {
    max-width: 38em;
    margin: 0 auto 1em;
    line-height: 1.5;
    border: 0;
    text-align: left;
	font-size: 14px;
}
.sc-player .sc-info-toggle,
.sc-player .sc-info-close {
  display: none;
}
/* utilities */
.sc-player-engine-container {
  width: 1px;
  height: 1px;
  position: fixed;
  top: 2px;
  left: 2px;
}
.sc-player .sc-info-toggle {
  background: #22B573;
  color: #fff;
  border-radius: 4px;
  padding: 4px;
}
.sc-player .sc-info-toggle:hover {
  background: #333;
  color: #fff;
}
.sc-player .sc-info-close {
  background: #22B573;
  border-radius: 4px;
  padding: 2px 4px;
  font-weight: bold;
}

/*rotate reels */
.reels {
    margin-top: 60px;
	position: relative;
    z-index: 0;
}

.face {
    margin-top: -230px;
    position: relative;
    border: 0;
    z-index: 1;
    clear: both;
    text-align: center;
    background-repeat: no-repeat;
    width: 320px;
    display: block;
}

.pausedReels {
    animation-name: rotateReels;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-fill-mode: both;
	animation-play-state: paused;
	animation-timing-function: linear;
	-webkit-animation-name: rotateReels;
	-webkit-animation-duration: 4s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-fill-mode: both;
	-webkit-animation-play-state: paused;
	-webkit-animation-timing-function: linear;
	width: 160px;
	height: 160px;
}


.playingReels {
	animation-name: rotateReels;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-fill-mode: both;
	animation-play-state: running;
	animation-timing-function: linear;
	-webkit-animation-name: rotateReels;
	-webkit-animation-duration: 4s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-fill-mode: both;
	-webkit-animation-play-state: running;
	-webkit-animation-timing-function: linear;
	width: 160px;
	height: 160px;
}

#cassette {
	width: 475px;
    height: 309px;
    transition: all 0.3s ease;
    background-repeat: no-repeat;
    background-size: contain;
    filter: drop-shadow( 30px 20px 5px rgba(1,1,1,0.10));
	
}


.cassette1 {
    background-image: url(../images/pineapples.png);
}

.cassette2 {
	background-image: url(../images/bohemian_red_and_blue.png);
}

.cassette3 {
	background-image: url(../images/va_va_voom.png);
}

.cassette4 {
	background-image: url(../images/rock_pop_collage.png);
}

.cassette5 {
	background-image: url(../images/reading.png);
}

@-webkit-keyframes rotateReels {
	0% {-webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); transform: rotate(0deg);}
	50% {-webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); transform: rotate(180deg);}
	100% {-webkit-transform: rotate(360deg); -moz-transform: rotate(360deg) ; transform: rotate(360deg);}
}

.test {
    text-align: left;
    margin-left: 0px;
    border: 0;
    display: none;
}
